<h5>マイページ</h5>

</br>

<label>登録情報</label><%= link_to "編集する", customers_edit_path(@customer.id), class: "btn btn-success" %>
</br>

 <div class= "col-md-8 offset-md-1">
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th>氏名</th>
        <th>カナ</th>
        <th>郵便番号</th>
        <th>住所</th>
        <th>電話番号</th>
        <th>メールアドレス</th>
        <th colspan="6"></th>
      </tr>
    </thread>
    <tbody>
        <% @customers.each do |customer| %>
        <tr>
        <td>
          <%= customer.last_name %><%= customer.first_name %>
        </td>
        <td>
          <%= customer.last_name_kana %><%= customer.first_name_kana %>
        </td>
        <td>
          <%= customer.postal_code %>
        </td>
        <td>
          <%= customer.address %>
        </td>
        <td>
          <%= customer.telephone_number %>
        </td>
        <td>
          <%= customer.email %>
        </td>

        </tr>
        <% end %>
    </tbody>
  </table>
</br>

配送先<%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></br>
注文履歴<%= link_to "一覧を見る", orders_index_path(@customer.id), class: "btn btn-primary" %>