<h5>マイページ</h5>

</br>

&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<label>登録情報</label>&emsp;<%= link_to "編集する", customer_edit_path, class: "btn btn-success" %>
</br>
</br>

 <div class= "col-md-8 offset-md-1">
  <table class="table table-hover table-bordered table-inverse">
    <tbody>
      <tr>
        <th class="table-secondary">氏名</th>
        <td>
          <%= @customer.last_name %>&emsp;<%= @customer.first_name %>
        </td>
      </tr>
      <tr>
        <th class="table-secondary">カナ</th>
        <td>
          <%= @customer.last_name_kana %>&emsp;<%= @customer.first_name_kana %>
        </td>
      </tr>
      <tr>
        <th class="table-secondary">郵便番号</th>
        <td>
          <%= @customer.postal_code %>
        </td>
      </tr>
      <tr>
        <th class="table-secondary">住所</th>
        <td>
          <%= @customer.address %>
        </td>
      </tr>
      <tr>
        <th class="table-secondary">電話番号</th>
        <td>
          <%= @customer.telephone_number %>
        </td>
      </tr>
      <tr>
        <th class="table-secondary">メールアドレス</th>
        <td>
          <%= @customer.email %>
        </td>
      </tr>
    </tbody>
  </table>
</br>

配送先&emsp;&emsp;<%= link_to "一覧を見る", addresses_path, class: "btn btn-primary" %></br>
注文履歴&emsp;<%= link_to "一覧を見る", orders_index_path(@customer.id), class: "btn btn-primary" %>


