<h5>商品一覧</h5>

<div style="text-align:center;">
<%= link_to new_admin_item_path, class: 'nav-link text-light' do %>
  <label class="btn btn-circle">
    <div class="shadow p-3 mb-3">＋</div>
  </label>
<% end %>

    <div class= "col-md-8 offset-md-1">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
              <th colspan="5"></th>
            </tr>
          </thread>
          <tbody>
              <% @items.each do |item| %>
              <tr>
              <td>
                <%= item.id %>
              </td>
              <td>
                <%= link_to admin_item_path(item.id) do %>
                <%= item.name %>
                <% end %>
              </td>
              <td>
                <%= item.price %>
              </td>
              <td>
                <%= item.genre.name %>
              </td>
              <td>
                <% if item.is_active %>
                  <label class="text-success">販売中</label>
                <% else %>
                  <label class="text-secondary">販売停止中</label>
                <% end %>
              </td>

              </tr>
              <% end %>
          </tbody>
        </table>
</div>
        <%= paginate @items %>