<h2>商品新規登録画面 admin/items/new</h2>

<h2>商品新規登録</h2>

商品画像
商品名
商品説明
ジャンル
税抜価格
販売ステータス

新規登録

<% if @item.errors.any? %>
  <%= @item.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @item do |f| %>
    <label>商品名</label><%= f.text_field :name %></br>
    <label>商品説明</label><%= f.text_area :introduction %></br>
    <label>ジャンル</label><%= f.select :genres, [["選択肢1", "ジャンル名"], ["選択肢2", "ジャンル名"], ["選択肢3", "ジャンル名"], ["選択肢4", "ジャンル名"]], include_blank: "--選択して下さい--" %></br>
    <label>税抜価格</label><%= f.text_field :price %>円</br>
    <label>販売ステータス</label>
    <%= form_with(model: @item, local: true) do |form| %>
      <%= form.radio_button :is_active, :true %>
      <%= form.label :is_active, "販売中", {value: :true, checked: true, style: "display: inline-block;"} %>
      <%= form.radio_button :is_active, :false %>
      <%= form.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
    <% end %>
    <%= f.submit "新規登録", class: "btn btn-success" %></br>
  <% end %>