<h2>商品新規登録画面 admin/items/new</h2>

<h2>商品新規登録</h2>

商品画像
商品名
商品説明
ジャンル
税抜価格
販売ステータス

新規登録

<% if @item.errors.any? %>
  <%= @item.errors.count %> errors prohibited this obj from being saved:
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @item do |f| %>
    <label>商品名</label></br>
      <%= f.text_field :name %></br>
    <label>商品説明</label></br>
      <%= f.text_area :introduction %></br>
    <%= f.submit "新規登録", class: "btn btn-success" %></br>
  <% end %>