<h5>商品新規登録</h5>
<% @item.errors.full_messages.each do | msg | %>
<%= msg %>
<% end %>

<%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
    <label>商品画像</label>
    <%= f.file_field :image, accept: "image/*" %></br>
    <label>商品名</label><%= f.text_field :name %></br>
    <label>商品説明</label><%= f.text_area :introduction %></br>
    <label>ジャンル</label>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください", class: "form-control col-sm-8" %></br>
    <label>税抜価格</label><%= f.text_field :price %>円</br>
    <label>販売ステータス</label>
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active, "販売中", {value: :true, checked: true, style: "display: inline-block;"} %>
      <%= f.radio_button :is_active, :false %>
      <%= f.label :is_active, "販売停止中", {value: :false, style: "display: inline-block;"} %>
    <%= f.submit "新規登録", class: "btn btn-success" %></br>
  <% end %>