<h5>商品詳細</h5>

<% if @item.image.attached? %>
  <%= image_tag @item.image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image.png', size: "200x200" %>
<% end %>
</br>
<label>商品名</label><%= @item.name %></br>
<label>商品説明</label><%= @item.introduction %></br>
<label>ジャンル</label><%= @item.genre.name %></br>
<label>税抜価格</label><%= @item.price %>円</br>
<label>販売ステータス</label>
<% if @item.is_active %>
  <label class="text-success">販売中</label>
<% else %>
  <label class="text-secondary">販売停止中</label>
<% end %>
</br>
<%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>