<h2>商品詳細画面 views/admin/items/show</h2>

<h2>商品詳細</h2>

<%= image_tag @item.image(100,100) %></br>
<label>商品名</label><%= @item.name %></br>
<label>商品説明</label><%= @item.introduction %></br>
<label>ジャンル</label><%= @genre.name %></br>
<label>税抜価格</label><%= @item.price %></br>
<label>販売ステータス</label><%= @item.is_active %></br>
<%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success" %>