<h2>トップページ views/public/homes/top</h2>

ジャンル検索を追加

<div class="container">
  <img src="images/naganocake.jpg">
  <p>ようこそ、ながのCAKEへ！</p>
  <p>このサイトは、ケーキ販売のECサイトになります。</p>
  <p>会員でない方も商品の閲覧はできますが、</p>
  <p>購入には会員登録が必要になります。</p>
</div>

<h2>新着商品</h2>

<% @items.first(4).each do |item| %>
<%= link_to items_path(item.id) do %>
<%= image_tag item.image, size: '100x100' %>
<% end %>
<%= item.name %>
￥<%= item.price %>
<% end %>

<%= link_to items_path do %>
<p>全ての商品を見る ></p>
<% end %>