<h5>注文履歴詳細</h5>

<label>購入者</label>
<%= @order.customer.last_name %><%= @order.customer.first_name %></br>

<label>注文日</label>
<%= @order.created_at %></br>

<label>配送先</label>
<%= @order.postal_code %><%= @order.address %></br>
<%= @order.name %></br>

<label>支払い方法</label>
<%= @order.payment_method_i18n %></br>

<label>注文ステータス</label>
<%= form_with model: @order, url: admin_order_path, method: :patch do |f| %>
<%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
<%= f.submit "更新", class: "btn btn-primary" %>
<% end %>
</br>

<table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
              <th></th>
              <th colspan="6"></th>
            </tr>
          </thread>
          <tbody>
              <% @order.order_details.each do |order_detail| %>
              <tr>
              <td>
                <%= order_detail.item.name %>
              </td>
              <td>
                <%= order_detail.price %>
              </td>
              <td>
                <%= order_detail.amount %>
              </td>
              <td>
                <%= (order_detail.item.price * order_detail.amount * 1.1).floor %>
              </td>
              <td>
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
                <%= f.submit "変更", class: "btn btn-success" %>
                <% end %>
              </td>

              <% @total += (order_detail.item.price * order_detail.amount * 1.1).floor %>

              <% end %>
          </tbody>
        </table>

        <table>
          <tbody>
            <tr>
              <th class="table-secondary">商品合計</th>
            <td>
              <%= @total %>
            </td>
            </tr>
            <tr>
              <th class="table-secondary">送料</th>
            <td>
              <%= @order.shipping_cost %>
            </td>
            </tr>

            <tr>
              <th class="table-secondary">請求金額合計</th>
            <td>
              <%= @total + @order.shipping_cost %>
            </td>
            </tr>
          </tbody>
        </table>