<h5>配送先編集</h5>

<%= form_with model: @address, url: address_path, method: :patch do |f| %>
  <%= f.label :"郵便番号(ハイフンなし)" %>
  <%= f.text_field :postal_code, autofocus: true, id:"inputpostal_code", placeholder:""%></br>
  <%= f.label :"住所" %>
  <%= f.text_field :address, autofocus: true, id:"inputaddress", placeholder:""%></br>
  <%= f.label :"宛名" %>
  <%= f.text_field :name, autofocus: true, id:"inputname", placeholder:""%></br>
  <%= f.submit "変更内容を保存", class: "btn btn-success" %>
<% end %>